/*
====================
Weather Card Styling
====================
*/
.weather__card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    justify-items: center;
    padding: 2rem;
    margin: 2rem;
    width: 19rem;
    height: 30rem;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 1.75rem;
    animation: fadein 1.25s ease-in-out 0ms 1;
}

.weather__card-dark {
    background: linear-gradient(to bottom, #711B86, #00057A);
    color: #FFFFFF;
}

.city-name__text {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.add__icon {
    width: 10rem;
    margin-bottom: .15rem;
}